<div class="main-menu-container">
  <a href="{{links.home}}">
    <div class="main-menu">
      <h3>Home</h3>
    </div>
  </a>
  <a href="{{links.askQuestions}}">
    <div class="main-menu">
      <h3>Ask a question</h3>
    </div>
  </a>
  <a href="{{links.viewQuestions}}">
    <div class="main-menu">
      <h3>View questions & vote</h3>
    </div>
  </a>
</div>

<div>
  <h1>about</h1>

  <p>
    We all want to live in a place where our opinions are heard because.. who wouldn't want to have control over what happens in their lives?
  </p>
  <p>
    Direct Democracy is the starting place for that ideal way of life. When a decision has to be made, you can post your ideas and have people vote "yes" or "no" anonymously. The ideas can be for as small as your house, or as big as your local community.
  </p>
  <p>
    If you have the power and would like to hear the opinion of those who are involved, you can make your decisions based on the voting result. Don't have a control to make a decision? Vote and make sure your voice is heard!
  </p>
</div>
