<div class="main-menu-container">
  <a href="{{home}}">
    <div class="main-menu">
      <h3>Home</h3>
    </div>
  </a>
  <a href="{{about}}">
    <div class="main-menu">
      <h3>About</h3>
    </div>
  </a>
  <a href="{{viewQuestions}}">
    <div class="main-menu">
      <h3>View questions and Vote</h3>
    </div>
  </a>
</div>

<form class="add-question" action="" method="post">
  <input type="text" name="addQuestion" placeholder="Type your question here">
  <input type="submit" value="Submit">
</form>
