<div class="main-menu-container">
  <a href="{{links.home}}">
    <div class="main-menu">
      <h3>Home</h3>
    </div>
  </a>
  <a href="{{links.about}}">
    <div class="main-menu">
      <h3>About</h3>
    </div>
  </a>
  <a href="{{links.viewQuestions}}">
    <div class="main-menu">
      <h3>View questions & vote</h3>
    </div>
  </a>
</div>

<form class="add-question" action="/viewAndVote/" method="post">
  <input type="text" name="addQuestion" placeholder="Type your question here">
  <input type="submit" value="Submit">
</form>
